<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CAPTCHAs generator</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}
    <div class="row">
        <div class="col-md-5 text-center mx-auto">
            <div class="card">
                <div class="card-body text-center">
                    <img src="https://img.icons8.com/clouds/200/000000/unlock.png">
                    <h3 class="card-title">Congratulations!</h3>
                    <p class="card-text">You managed to break the CAPTCHA.</p>
                    <form><button id="captcha_btn" type="submit" class="btn btn-success btn-block">Continue</button></form>
                </div>
            </div>            
        </div>
    </div>
    {% endblock %}
</body>
</html>